html{
	background-color: #ED4233;
}
html:before{
	content: "";
	position: absolute;
	z-index: -1;
	height: 400%;
	width: 100%;
	margin-top: 80px;
	background-color: #ED4233;
	background-image: url("../img/apollos-bg.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}
#header{
	background: #fff;
}
